<div class="d-flex aligin-items-center justify-content-center">
    <% if(typeof cart != 'undefined' && cart.length != 0 ) {%>
        <div class="box-pedidos">
            <div class="pedidos-titulo">
                <h2>Carrinho</h2>
            </div>
            <div class="pedidos-list">
                <table class="table">
                    <thead>
                        <tr>
                            <th>qtd</th>
                            <th>titulo</th>
                            <th>valor</th>
                            <th>pagamento</th>
                            <th>remover</th>
                            <th>comprar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let item of cart) {%>
                            <tr>
                                <td><%= item.qtd_items %></td>
                                <td><%= item.books.title %></td>
                                <td><%= item.request_price %></td>
                                <td><%= item.status %></td>
                                <td><a href="/carrinho/remover/<%= item.id_cart %>" class="btn  btn-danger">excluir</a></td>
                                <td><a href="/carrinho/finalizar" class="btn  btn-info">comprar</a></td>
                            </tr>
                        <% } %> 
                    </tbody>
                </table>
            </div>
        </div>
    <% }else{ %>
        <div >
            <div class="text-center border m-5 p-3">
                <p>Opa! Acabei de ver aqui você ainda não possui nenhum item em seu carrinho, mas não desanime, vá agora mesmo encontrar o seu mais novo companheiro. e desfrute de histórias apaixonantes e vibrantes.</p>
                <a class=" btn btn-info" href="/biblioteca">Encontrar livro</a>    
            </div>
            <div style="height: 200px;"></div>
        </div>
    <% } %> 
</div>