<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head')  %> 
    <link rel="stylesheet" href="/stylesheets/biblioteca.css">
<body>
    <%- include('partials/header') %>
    <main class="container">
        <div class="bg-white row p-2 m-0">
            <section class="row">
                <div class="nav-genero border mt-2">
                    <div class=" text-center me-1">
                        <h3>Generos </h3>
                    </div>
                    <ul class="nav nav-tabs m-5" >
                        <li class="nav-item">
                            <a href="/biblioteca/novel" class="nav-link">Romance</a>
                        </li>
                        <li class="nav-item">
                            <a href="/biblioteca/fiction" class="nav-link">ficção</a>
                        </li>
                        <li class="nav-item">
                            <a href="/biblioteca/cousebook" class="nav-link">didáticos</a>
                        </li>
                        <li class="nav-item">
                            <a href="/biblioteca/storybook" class="nav-link">infantil</a>
                        </li>
                        <li class="nav-item">
                            <a href="/biblioteca/action" class="nav-link">terror</a>
                        </li>
                        <li class="nav-item">
                            <a href="/biblioteca/ficção" class="nav-link">ação</a>
                        </li>
                        <li class="nav-item">
                            <a href="/biblioteca/fantasy" class="nav-link">fantasia</a>
                        </li>
                        <li class="nav-item">
                            <a href="/biblioteca/finance" class="nav-link">finanças</a>
                        </li>
                        <li class="nav-item">
                            <a href="/biblioteca/poetry" class="nav-link">poesia</a>
                        </li>
                    </ul>
                </div>
                <div class="mt-2">
                    <div class="row">
                        <% if(locals.books){ %>
                            <% for(let book of books) {%>

                                <div class="col-12 col-sm col-lg-3 nav-item mb-5 book-box border">
                                    <a href="/showbook/<%= book.id_books %> " class="nav-link">
                                    <div class="img-book">
                                        <div class="img-box">
                                            <img src="/img-books/<%= book.front_cover %>  " alt="capa_<%= book.title %>" class=" h-100">
                                        </div>
                                        <div class="ib-text">
                                            <h2><%= book.title %></h2>
                                            <p>R$: <%= book.kindle_price %> </p>
                                        </div>
                                    </div>       
                                    </a>
                                </div>
                                
                            <% } %> 
                        <% } %> 
                    </div>
                </div>
            </section>
            <div class="">
            <nav aria-label="Navegação de página d-flex">
                <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
                </ul>
            </nav>
        </div>
    </div>
    </main>
    <%- include('partials/footer') %> 
</body>
</html>