<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="/stylesheets/formularios.css">
<body>
    <%- include('partials/header') %> 
    <main class="container">
        <div class="row">
            <div class="box-logo-forms">
                <img src="/images/img/logoForms.png" alt="logo-icon">
            </div>
            <div class="col-8" style="margin: 15px auto 0px auto;">
                <form action="/user/cadastro" method="post" enctype="multipart/form-data" class="p-2">
                    <div class="form-group">
                        <label for="name">Nome completo:</label>
                        <input type="text" name="name" id="name" class="form-control" value="<%= locals.oldData ? oldData.name : '' %>" >
                        <div class="danger text-end">
                            <% if(locals.errors && errors.name) {%>
                                   <span><%= errors.name.msg %> </span>
                            <% } %> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" class="form-control"  value="<%= locals.oldData ? oldData.email : '' %>" >
                        <div class="danger text-end">
                            <% if(locals.errors && errors.email) {%>
                                   <span><%= errors.email.msg %> </span>
                            <% } %> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="re_email">Confirme seu email:</label>
                        <input type="email" name="re_email" id="re_email" class="form-control"  value="<%= locals.oldData ? oldData.email : '' %>" >
                        <div class="danger text-end">
                            <% if(locals.errors && errors.re_email) {%>
                                   <span><%= errors.re_email.msg %> </span>
                            <% } %> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="psw">Senha:</label>
                        <input type="password" name="password" id="psw" class="form-control">
                        <div class="danger text-end">
                            <% if(locals.errors && errors.password) {%>
                                   <span><%= errors.password.msg %> </span>
                            <% } %> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="re_psw">Confirme sua senha:</label>
                        <input type="password" name="re_password" id="re_psw" class="form-control">
                        <div class="danger text-end">
                            <% if(locals.errors && errors.re_password) {%>
                                   <span><%= errors.re_password.msg %> </span>
                            <% } %> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="avatar">Imagem do usuario</label>
                        <input type="file" name="avatar" id="avatar" class="form-control">
                        <div class="danger text-end">
                            <% if(locals.errors && errors.avatar) {%>
                                   <span><%= errors.avatar.msg %> </span>
                            <% } %> 
                        </div>
                    </div>
                    <div class="button-group">
                        <input type="submit" value="cadastre-se" class="btn btn-info">
                        <input type="reset" value="limpar campos"  class="btn btn-light border">
                    </div>
                </form>
            </div>
            <div class="boxSpacing"></div>
        </div>
    </main>
    <%- include('partials/footer') %> 
</body>
</html>