<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head') %> 
<body>
    <style>
        main{
            background-color: rgba(255, 255, 255,.4);
            height: 80vh;
        }
        .ajust-center{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <%- include('partials/header') %> 
    <main class="container col-12 ">
        <div class="p-5 ajust-center ">
            <form action="/admin/cadastro" method="post"  enctype="" class="">

                <div class="mb-5 ajust-center ">
                    <img src="/images/img/logo.png" alt="">
                </div>
                <div>
                    <ul>
                        <% if(typeof errors !== 'undefined') {%>
                            <% for(let error in errors) {%>
                                <li>
                                    <b>
                                        <%= error %> 
                                    </b>
                                    <%= errors[error].msg %> 
                                </li>         
                            <% } %> 
                        <% } %> 
                    </ul>
                </div>
                <div class="mb-3 form-group">
                    <input type="text" class="form-control" name="nome" id="nome" required placeholder="nome completo">
                </div>
                <div class="mb-3 form-group">
                    <input type="email" class="form-control" name="email" id="email" required placeholder="digite um email">
                </div>
                <div class="mb-3 form-group">
                    <input type="email" class="form-control" name="re_email" id="re_email" required placeholder="confirme seu email">
                </div>
                <div class="mb-3 form-group">
                    <input type="password" class="form-control" name="senha" id="senha" required placeholder="digite uma senha">
                </div>
                <div class="mb-3 form-group">
                    <input type="password" class="form-control" name="re_senha" id="re_senha" required placeholder="confirme sua senha">
                </div>
                <div class="mb-3 border p-2 bg-light form-group">
                    <div>
                        <label for="avatar">
                            <span>escolha um avatar</span>
                        </label>
                    </div>
                    <div class="mt-3">
                        <input type="file" class="form-control-file" name="avatar" id="avatar">
                    </div>
                </div>
                <div class="m-5 ajust-center">
                    <button type="" class="btn btn-info text-light">Cadastrar-se</button>
                </div>
            </form>
        </div>
    </main>
    <%- include('partials/footer') %> 
</body>
</html>