<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="/stylesheets/cart.css">
</head>
<body>
    <%- include('partials/header') %> 
    <main class="container ">
        <div class="bg-white">
            <div>
                <div>
                    <h2 class="text-center p-3">carrinho</h2>
                        <% if(locals.shopping_cart.length > 0) {%>
                            <div class="row flex-center ">
                                <% for(let item of shopping_cart){%>
                                    <div class="col-8 flex-center p-2 m-2 border">
                                        <div class="col-4">
                                            <img class="w-100" src="/img-books/ " alt="capa-livro<%= %> ">
                                        </div>
                                        <div class="container" >
                                            <div class="flex-center flex-column  p-2">
                                                <h2><%= %> </h2>
                                                <p>Editora: <%= %> </p>
                                                <p>Em Estoque: <% %> unidades </p>
                                                <p>para presente:
                                                    <input type="checkbox" name="para_presente" value="">
                                                </p>
                                                <div class="d-flex p-2 flex-column border">
                                                        <div>
                                                            <label for="qtd">quantidade:</label>
                                                            <input type="number" style="width: 50px;" disabled name="qtd" min="1" value="<%= item.qtd_products %>">
                                                        </div>
                                                </div>
                                                <div>
                                                    <span>Tipo de livro: <strong><%= %></strong> </span>
                                                </div>
                                                <span class="p-3">valor da unidade: 
                                                    R$ <%= %> 
                                                </span>
                                                <span class="p-3">valor do pedido: 
                                                    R$ <%= %> 
                                                </span>
                                                <div>
                                                    <form action="/carrinho/remover/<%= %>?_method=DELETE " method="post">
                                                        <button class="btn btn-danger">Remover</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% } %> 
                            </div>
                                <div class="innerPrice flex-center ">
                                    <div class="border p-5 text-center">
                                        <form action="/carrinho/finalizar" method="post">
                                            <h2>finalize o pedido</h2>
                                            <div>
                                            </div>
                                            <% if(locals.price) {%>
                                                <p>valor total: R$ <%= price %> </p>
                                            <% } %> 
                                            <button type="submit" class="btn btn-info">comprar</button>
                                            <div>
                                                <a class="btn btn-warning" href="/biblioteca">adicionar mais</a>
                                            </div>
                                        </form>
                                    </div>
                                </div> 
                        <% }else{%>
                            <div class=" d-flex border m-2">
                                <div style="height: 200px;" class="w-100 pb-1 d-flex align-items-center justify-content-center">
                                    <div class="p-2 border">
                                        <a class="link btn btn-info" href="/biblioteca">Adicione livros ao carrinho</a>    
                                    </div>
                                </div>
                            </div>
                        <% } %> 
                   
                </div>
                <div class="row flex-center">
                   
                </div>
            </div>
            <div class="mt-5 mb-5"></div>
            <div class="container border">
                <div class="row">
                    <div>
                        <h2 class="text-center p-3">destaques do dia</h2>
                    </div>
                    <div class="row p-3 m-0">
                        <% if(locals.emphasis) {%>
                            <% for(let product of emphasis) {%>
                                <div class="col-4 col-sm col-lg border">
                                    <a href="/showbook/<%= product.id_books %> ">
                                        <img class="w-100" src="/img-books/<%= product.front_cover %> " alt="Capa livro <%= product.title %> ">    
                                    </a>
                                </div>
                            <% } %> 
                        <% } %> 
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/carrinho.js"></script>
    <%- include('partials/footer') %> 
</body>
</html>