<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="/stylesheets/cart.css">
</head>
<body>
    <%- include('partials/header') %> 
    <main class="container ">
        <div class="bg-page">
            <div class="p-2"></div>
            <div class="container ">
                <% if(locals.products.length > 0) {%>
                    <form action="#" method="post">
                        <div class="row d-flex align-items-center justify-content-center">
                            <% for(let item of products){%>
                                <div class="conteudo col-10">
                                    <div class="c-img-box">
                                        <img class="w-100" src="/img-books/<%= item.books.front_cover %>" alt="capa-livro<%= %> ">
                                    </div>
                                    <div>
                                        <ul class="list-normal">
                                            <li class="title-book">
                                                <span><%= item.books.title %></span>
                                                <label>Por -<%=item.books.author %></label>
                                            </li>
                                            <li>
                                                <span><strong><%= item.type_selected %></strong></span>
                                            </li>
                                            <li>
                                                <span>preço da unidade <strong><%= item.item_price %></strong></span>
                                            </li>
                                            <li>
                                                <span>valor do pedido <strong>R$ <%= item.request_price %></strong></span>
                                            </li>
                                            <li>
                                                <span>
                                                    Qtd: <strong><%= item.qtd_items %> | </strong>
                                                </span>
                                                <a href="/carrinho/remover/<%= item.id_cart %>" class="link-normal">remover</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            <% } %>
                            <div class="col-10 text-end">
                                <a href="/carrinho/clean" class="link-normal">Limpar carrinho</a>
                            </div> 
                            <div class="col-6 box-pedido mb-5">
                                <div>
                                    <div class="text-pedido">
                                        <h4>Faça o seu pedido</h4>
                                        <div>
                                            <p>frete gratis, na primeira compra!</p>
                                            
                                            <span>Total: <strong> R$ <%= price %></strong> </span>
                                        </div>
                                        <div class="cho-container"></div>
                                            <script>
                                            const mp = new MercadoPago('PUBLIC_KEY', {
                                                locale: 'pt-BR'
                                            });

                                            mp.checkout({
                                                preference: {
                                                id: 'YOUR_PREFERENCE_ID'
                                                },
                                                render: {
                                                container: '.cho-container',
                                                label: 'Pagar',
                                                }
                                            });
                                            </script>
                                    </div>
                                    <div class="bt-pedido">
                                        <a href="/carrinho/pedido" class="btn btn-info">Fazer o Pedido</a>
                                    </div>
                                    <div class="bt-pedido mt-3">
                                        <a href="/biblioteca" class="nav-link a-link" >Continuar comprando</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                  
                <% }else{%>
                    <div class="centralize">
                        <div class="text-msg">
                            <p>Opa! Acabei de ver aqui você ainda não possui nenhum item em seu carrinho, mas não desanime, vá agora mesmo encontrar o seu mais novo companheiro. e desfrute de histórias apaixonantes e vibrantes.</p>
                            <a class="link btn btn-info" href="/biblioteca">Encontrar livro</a>    
                        </div>
                    </div>
                <% } %> 
            </div>
            
            <div>
                <div>
                    <div class="text-center">
                        <h4>adicionados recentemente</h4>
                    </div>
                    <div class="row centralize border">
                        <% if(locals.emphasis) {%>
                            <% for(let product of emphasis) {%>
                                <div class="col-2">
                                    <a href="/showbook/<%= product.id_books %>" class="img-box-max">
                                        <img class="w-100" src="/img-books/<%= product.front_cover %>" alt="Capa livro <%= product.title %>">    
                                    </a>
                                </div>
                            <% } %> 
                        <% } %> 
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/carrinho.js"></script>
    <%- include('partials/footer') %> 
</body>
</html>