<!DOCTYPE html>
<html lang="pt-br">
  <link rel="stylesheet" href="/stylesheets/detalhes.css">
<%- include('partials/head.ejs') %>

  <body>
    <%- include('partials/header.ejs') %>
    
      <!--bg-ligth back-ground color white class bootstrap--->
      <main class="container">
        <div class="text-center text-light">
          <h1>Detalhes do produto:</h1>
        </div>
        <div class="detalhes d-flex">
          <div class="col-3 m-2" >
            <img  class="capa"src="<%=livro.capa %>" alt="capa">
          </div>
          <div class="text-d col-6 m-2">
            <h2>R$ <%=livro.preco%>
            </h2>
            <h3> Titulo: <%=livro.titulo %>
            </h3>
            <h3>Autor: <%=livro.autor%>
            </h3>
            <h4>
              Publicado por: <%=livro.editora%>
            </h4>
              
             <span>Sinopse do livro:</span>
                 <P>
                     <%=livro.sinopse%>
                 </P>
          </div>
          
          <div class="col-3 d-flex align-items-center justify-content-center">
            <form action="/showbook/add" method="post">
              <label for="qtd">quantas unidades</label>
              <input type="number" value="1" min="1" name="qtd" id="qtd">
              <input type="hidden" name="bookInCart" value="<%= livro.id %> "> 
              <button id='add'type="submit">Adicionar ao carrinho</button>
            </form>
          </div>
             
    </div> 
    
      </main>

     <%-include('partials/footer.ejs') %>

  </body>

</html>