<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head.ejs') %>
<link rel="stylesheet" href="/stylesheets/finalizar.css">
<body>
  <%- include('partials/header.ejs') %> 
  <main class="container">
    <div class="bg-page">
        <form action="#" method="post">
            <div class="d-flex align-items-center justify-content-around w-100 p-3">
                <div class="metodo-pag col-2 text-center">
                    <span><strong>Forma de pagamento</strong></span>
                    <div>
                        <label for="op1" class="btn btn-waning" id="pix">PIX</label>
                       <input type="hidden" name="opt" value="pix" id="op1">
                    </div>
                    <div>
                        <label for="op2" class="btn btn-waning" id="bol">BOLETO</label>
                       <input type="hidden" name="opt" value="boleto" id="op2">
                    </div>
                    <div>
                        <label for="op3"  class="btn btn-waning" id="car">CARTAO</label>
                       <input type="hidden" name="opt" value="cartao" id="op3">
                    </div>
                </div>
                <div class="border p-3 col-9" >
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <span><strong>INFORMAÇÕES DO SEU PEDIDO</strong></span>
                                </tr>
                                <tr>
                                    <th>DADOS PESSOAIS</th>
                                    <th>ENDEREÇÕ DE ENTREGA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>Nome:</strong> <%= info.full_name %> </td>
                                    <td><strong>Rua:</strong> <%= info.road  %> </td>
                                </tr>
                                <tr>
                                    <td><strong>CPF:</strong> <%= info.user_cpf %> </td>
                                    <td><strong>Número:</strong> <%= info.number %> </td>
                                </tr>
                                <tr>
                                    <td><strong>RG:</strong> <%= info.user_rg %> </td>
                                    <td><strong>Bairro:</strong> <%= info.district %> </td>
                                </tr>
                                <tr>
                                    <td><strong>Estado:</strong> <%= info.state %> </td>
                                    <td><strong>Cidade:</strong> <%= info.city %> </td>
                                </tr>
                                <tr>
                                    <td><strong>E-Email:</strong> <%= info.email %> </td>
                                    <td><strong>Tell:</strong> <%= info.telephone %> </td>
                                </tr>
                                <tr>
                                    <td><strong>CEP:</strong> <%= info.cep %> </td>
                                    <td><strong>Complemento:</strong> <%= info.complements %> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>LISTA DE PRODUTOS</th>
                                    <th>Preço</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Titulo do livro</td>
                                    <td>R$ 15.00</td>
                                </tr>
                                <tr>
                                    <td>Titulo do livro</td>
                                    <td>R$ 15.00</td>
                                </tr>
                                <tr>
                                    <td>Titulo do livro</td>
                                    <td>R$: 15.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center">
                        <div>
                            <span>TOTAL DA SUA COMPRA</span>
                            <SPAN>R$: 45.00</SPAN>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-info">PAGAR</button>
                        </div>
                    </div>
                </div>
                </div>
        </form>
    </div>
  </main>
  <%- include('partials/footer') %> 
  <script src="/js/finalizar.js"></script>
  </body>
</html>