<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head.ejs') %>
<link rel="stylesheet" href="/stylesheets/finalizar.css">
<body>
  <%- include('partials/header.ejs') %> 
  <main class="container">
    <div class="bg-page">
        <form action="#" method="post">
            <div class="d-flex align-items-center justify-content-around w-100 p-3">
                <div class="border p-3 col-9" >
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <span><strong>INFORMAÇÕES DO SEU PEDIDO</strong></span>
                                </tr>
                                <tr>
                                    <th>DADOS PESSOAIS</th>
                                    <th>ENDEREÇÕ DE ENTREGA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>Nome:</strong> <%= info.full_name %> </td>
                                    <td><strong>Rua:</strong> <%= info.road  %> </td>
                                </tr>
                                <tr>
                                    <td><strong>CPF:</strong> <%= info.user_cpf %> </td>
                                    <td><strong>Número:</strong> <%= info.number %> </td>
                                </tr>
                                <tr>
                                    <td><strong>RG:</strong> <%= info.user_rg %> </td>
                                    <td><strong>Bairro:</strong> <%= info.district %> </td>
                                </tr>
                                <tr>
                                    <td><strong>Estado:</strong> <%= info.state %> </td>
                                    <td><strong>Cidade:</strong> <%= info.city %> </td>
                                </tr>
                                <tr>
                                    <td><strong>E-Email:</strong> <%= info.email %> </td>
                                    <td><strong>Tell:</strong> <%= info.telephone %> </td>
                                </tr>
                                <tr>
                                    <td><strong>CEP:</strong> <%= info.cep %> </td>
                                    <td><strong>Complemento:</strong> <%= info.complements %> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>LISTA DE PRODUTOS</th>
                                    <th>Preço</th>
                                    <th>Preço/Un</th>
                                    <th>QTD/Unds:</th>
                                    <th>Tipo:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% cart.forEach(element => {%>
                                    <tr>
                                        <td><%= element.books.title %> </td>
                                        <td><%= element.request_price %> </td>
                                        <td><%= element.item_price %> </td>
                                        <td><%= element.qtd_items %> </td>
                                        <td><%= element.type_selected %> </td>
                                    </tr>                                    
                                <% }); %> 
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center">
                        <div class="p-5">
                            <span>TOTAL DA SUA COMPRA</span><br>
                            <SPAN><strong>R$: <%= locals.price ? price : 0 %> </strong></SPAN>
                        </div>
                        <div>
                            <div class="cho-container"></div>
                            <input type="hidden" name="global" id="btnId" value="<%= global %> ">
                            <a href="<%= url %>" class="btn btn-info">Ir ao Pagamento</a>
                        </div>
                        <div class="cho-container"></div>
                        <script>
                        const mp = new MercadoPago('PUBLIC_KEY', {
                            locale: 'pt-BR'
                        });

                        mp.checkout({
                            preference: {
                            id: 'YOUR_PREFERENCE_ID'
                            },
                            render: {
                            container: '.cho-container',
                            label: 'Pagar',
                            }
                        });
                        </script>

                      
                    </div>
                </div>
                </div>
        </form>
    </div>
  </main>
  <%- include('partials/footer') %> 
  </body>
</html>