<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head.ejs')  %> 
<link rel="stylesheet" href="/stylesheets/carousel.css">
<body>
  <%- include('partials/header.ejs')  %> 

  <div id="myCarousel" class="carousel slide container" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <% let count = [] %>
      <% for(let book of destaque) {%>
        <% count.push(1) %> 
        <% if(count.length == 1) {%>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="<%= book.id %> "></button>
        <% }else{%>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="<%= count.length-1 %>" class="" aria-current="true" aria-label="Slide <%= book.id %> "></button>
        <% } %>
      <% } %>
    </div>
    <div class="carousel-inner">
      <% let i = 0 %> 
      <% for(let p of destaque){%>
        <!-- logica para executar o active do carousel uma  unica vez -->
        <% if(i == 0) {%>
          <div class="carousel-item box active">
          <% i=i+1 %>   
        <% }else{%>
          <div class="carousel-item box">
        <% } %>
        <!-- Fim da logica-->
          <div >
            <div class="carousel-caption d-flex col-8 ">
              <a href="/showbook/<%= p.id %> ">
                <div class="carousel-img  ">
                  <img src="<%=p.capa %> " class=""  alt="">
                </div>
              </a>
                <div class="carousel-text col-8">
                  <h2><%= p.titulo %> </h2>
                  <p class="p-2"><%= p.sinopse %> </p>
                </div>
              </div>
            </div>
        </div> 
      <% } %>  
    </div>
    <div class="zindex-10">
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>   

  <section class="container">
    <div class="row bg-light">
      <div class="text-center ">
        <div class="pt-2">
          <h2>Até 25% off em Livros e eBooks | Black Friday</h2>
        </div>
      </div>
      <% for(let p of produtos){ %>
          <div class="col-12 col-sm col-lg-3 nav-item mb-5 book-box border">
            <a href="/showbook/<%= p.id %>" class="nav-link">
              <div class="img-book">
                <div class="img-box">
                  <img src="<%= p.capa %> " alt="capa-livro-<%= p.titulo %> " class=" h-100">
                </div>
                <div class="ib-text">
                  <h2><%= p.titulo %> </h2>
                  <p>R$: <%= p.preco[0] %> </p>
                </div>
              </div>       
            </a>
          </div>
      <% } %>  
      <h1>

        <% if(produtos.length == 0) {%>
          <h2 class="text-center mt-5 mb-5">Nenhum livro encontrado</h2>
          <% } %>  
      </h1>
      
      <nav aria-label="Navegação de página d-flex">
        <ul class="pagination justify-content-center">
          <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
        </ul>
      </nav>
    </div>
  </section>

    <%- include('partials/footer') %> 
    <script src="/javascripts/bootstrap.js"></script>
    </body>
</html>