<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head.ejs')  %> 
<body>
<%- include('partials/header.ejs')  %> 
    <link rel="stylesheet" href="/stylesheets/carousel.css">

    <main class="container">

      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <% let arr = [] %> 
          <% for(let p of destaque){ %>
            <% arr.push(1) %> 
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="<%= arr.length %>" class="" aria-current="true" aria-label="Slide <%= p.id %> "></button>
          <% } %> 
          
        </div>
        <div class="carousel-inner">
          <% p = produtos[1] %> 

          <div class="carousel-item active box">
           
            <div class="container ">
              <div class="carousel-caption text-start p-3">
                <div class="d-flex">
                  <div class="col-4 p-2">
                    <img src="<%= p.capa %> " class="d-blok w-100" alt="">
                  </div>

                  <div class="d-flex flex-column align-items-center justify-content-center  p-2 ">
                    <h1><%= p.titulo %> </h1>
                    <p><%= p.sinopse %> </p>
                    <p><a class="btn btn-lg btn-primary col align-self-center" href="#">Ver mais</a></p>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <% for(let p of destaque){%>
          
              <div class="carousel-item box"> 
                <div class="container ">
                  <div class="carousel-caption text-start p-3">
                    <div class="d-flex">
                      <div class="col-4 p-2">
                        <img src="<%=p.capa %> " class="d-blok w-100"  alt="">
                      </div>
                     
                      <div class="d-flex flex-column align-items-center justify-content-center  p-2 ">
                        <h1><%= p.titulo %> </h1>
                        <p><%= p.sinopse %> </p>
                        <p><a class="btn btn-lg btn-primary col align-self-center" href="#">Ver mais</a></p>
                      </div>
    
                    </div>
                  </div>
                </div>
              </div> 
          <% } %>  
           

          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div>   
    </div>
    </main>
    <main>
      <section class="container">
        <div class="row bg-light p-1 ">
          <div class="text-center border-bottom mb-2">
            <h2>destaques</h2>
          </div>
          <% for(let p of produtos){ %>
            <div class="col-12 col-sm col-lg-3 nav-item border-bottom mb-2">
              <a href="#" class="nav-link product-box">
                <img src="<%= p.capa %> " alt="capa-livro-<%= p.titulo %> " class="img-thumbnail">
                <div class="text-center">
                  <h2><%= p.titulo %> </h2>
                  <p>preço kindle: <%= p.preco[1] %> </p>
                </div>
              </a>
            </div>
          <% } %>  
          <nav aria-label="Navegação de página d-flex">
            <ul class="pagination justify-content-center">
              <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
            </ul>
          </nav>
        </section>
        </div>
    </main>
    <%- include('partials/footer') %> 

    <script src="/javascripts/bootstrap.js"></script>
    </body>
</html>