<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head.ejs')  %> 
<body>
<%- include('partials/header.ejs')  %> 
    <link rel="stylesheet" href="/stylesheets/carousel.css">

    <main class="container">
      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">

          <div class="carousel-item active box">
           
            <div class="container ">
              <div class="carousel-caption text-start p-3">
                <div class="d-flex">
                  <div class="col-4 p-2">
                    <img src="/images/img/slide1.jpg" class="d-blok w-100" alt="">
                  </div>

                  <div class="d-flex flex-column align-items-center justify-content-center  p-2 ">
                    <h1>Example headline.</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla earum facilis nisi voluptate veniam nemo, id iusto sequi quisquam ab odit, deserunt vel necessitatibus fugit fugiat. Sequi iure eligendi tempora!</p>
                    <p><a class="btn btn-lg btn-primary col align-self-center" href="#">Ver mais</a></p>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item box">
           
            <div class="container ">
              <div class="carousel-caption text-start p-3">
                <div class="d-flex">
                  <div class="col-4 p-2">
                    <img src="/images/img/slide2.jpg" class="d-blok w-100"  alt="">
                  </div>
                 
                  <div class="d-flex flex-column align-items-center justify-content-center  p-2 ">
                    <h1>Example headline.</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla earum facilis nisi voluptate veniam nemo, id iusto sequi quisquam ab odit, deserunt vel necessitatibus fugit fugiat. Sequi iure eligendi tempora!</p>
                    <p><a class="btn btn-lg btn-primary col align-self-center" href="#">Ver mais</a></p>
                  </div>

                </div>
              </div>
            </div>
          </div> <div class="carousel-item box">
           
            <div class="container ">
              <div class="carousel-caption text-start p-3">
                <div class="d-flex p-5">
                  <div class="col-4 p-2">
                    <img src="/images/img/slide3.jpg" class="d-blok w-100"  alt="">
                  </div>

                  <div class="d-flex flex-column align-items-center justify-content-center  p-2 ">
                    <h1>Example headline.</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla earum facilis nisi voluptate veniam nemo, id iusto sequi quisquam ab odit, deserunt vel necessitatibus fugit fugiat. Sequi iure eligendi tempora!</p>
                    <p><a class="btn btn-lg btn-primary col align-self-center" href="#">Ver mais</a></p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div>   
    </div>
    </main>
    <main>
      <section class="container">
        <div class="row bg-light p-1 mb-5">
          <div class="text-center border-bottom mb-2">
            <h2>destaques</h2>
          </div>
          <% for(let p of produtos){ %>
            <div class="col-2 col-sm col-lg nav-item border-bottom mb-2">
              <a href="#" class="nav-link">
                <img src="<%= p.capa %> " alt="capa-livro-<%= p.titulo %> " class="img-thumbnail">
                <div class="text-center">
                  <h2><%= p.titulo %> </h2>
                  <p><%= p.preco[1] %> </p>
                </div>
              </a>
            </div>
          <% } %>  
          <nav aria-label="Navegação de página d-flex">
            <ul class="pagination justify-content-center">
              <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
            </ul>
          </nav>
        </section>
        </div>
    </main>

    <script src="/javascripts/bootstrap.js"></script>
    </body>
</html>