<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head.ejs') %>
<link rel="stylesheet" href="/stylesheets/carousel.css">
<body>
  <%- include('partials/header.ejs') %> 
  <main class="container">
    <div class="bg-white">
      <section class="container">
        <div class="row bg-light">
          <div class="text-center ">
            <div class="pt-2">
              <h2>Até 25% off em Livros e eBooks | Black Friday</h2>
            </div>
          </div>
          <% for(let p of books){ %>
              <div class="col-12 col-sm col-lg-3 nav-item mb-5 book-box border">
                <a href="/showbook/<%= p.id %>" class="nav-link">
                  <div class="img-book">
                    <div class="img-box">
                      <img src="<%= p.capa %> " alt="capa-livro-<%= p.titulo %> " class=" h-100">
                    </div>
                    <div class="ib-text">
                      <h2><%= p.titulo %> </h2>
                      <p>R$: <%= p.preco[0] %> </p>
                    </div>
                  </div>       
                </a>
              </div>
          <% } %>  
 
          <nav aria-label="Navegação de página d-flex">
            <ul class="pagination justify-content-center">
              <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
            </ul>
          </nav>
        </div>
      </section>
    </div>
  </main>
  <%- include('partials/footer') %> 
  </body>
</html>