<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="/stylesheets/produto.css">
</head>
<body>
    <%- include('partials/header')  %> 
    <main class="container">
      <div class="bg-white p-2">
        <% if(locals.book) {%>
            <div class="row box-product">
                <div class="box-img-product">
                    <img src="/img-books/<%= book.front_cover %>" alt="" class="img-thumbnail">
                    <div class="box-product-type p-3 row">
                        <div class="col-6 p-1">
                            <div class="product-type" id="btn-kindle" >
                                <span>Kindle</span>
                                <input type="hidden" name="kindle" class="kindle" value="<%= book.kindle_price%>">
                                <strong><%= book.kindle_price %> </strong>
                            </div>
                        </div>
                        <div class="col-6 p-1">
                            <div class="product-type" id="btn-common">
                                <span>capa comum</span>
                                <input type="hidden" name="common" class="common" value="<%= book.common_price %>">
                                <strong><%= book.common_price %> </strong>
                            </div>
                        </div>
                        <div class="col-12 p-1">
                            <div class="product-type" id="btn-special">
                                <span>formato especial</span>
                                <input type="hidden" name="special" class="special" value="<%= book.special_price %>">
                                <strong><%= book.special_price %> </strong>
                            </div>
                        </div>
                    </div>
                    <div>
                        <table class="table border">
                            <thead>
                                <tr>
                                    <th scope="col">Editora</th>
                                    <th scope="col">Idioma</th>
                                    <th scope="col">Capa comum</th>
                                    <th scope="col">Dimensões</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><%= book.publishing_company %></td>
                                    <td><%= book.language %></td>
                                    <td><%= book.number_pages %></td>
                                    <td><%= book.dimensions %></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> 
                <div class="box-details row p-2" id="box-details">
                    <div class="shadow-sm">
                        <div>
                            <span class="d-flex price-style">
                                <p>R$:</p>
                                <p class="price"></p>
                            </span>
                        </div>
                        <div>
                            <p>
                                vendemos livros para todas as partes do brasil, eBook kindle já estão disponíveis para compra e leitura. baixe nosso app gratis e confira
                            </p>
                        </div>
                        <div>
                            <span>Entrega <strong>grátis</strong> para o seu primeiro pedido</span>
                        </div>
                        <div class="row">
                            <span>Enviado por dh.livros</span>
                            <span>Vendido por dh.livros</span>
                        </div>
                       <form action="/carrinho/add" method="post" class="form-list-product">
                            <input type="hidden" name="type" class="type-book">
                            <input type="hidden" name="id_book" value="<%= book.id_books %>">
                            <div class="mt-3 mb-3">
                                <input type="hidden" name="inventory" class="qtd-estoque" value="<%= book.inventory %>">
                                <div class="row">
                                    <label for="select" class="status-estoque"></label>
                                    <select name="qtd" id="qtd" class="select-estoque">
                                        <option disabled>QTD</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div>
                                    <button class="btn btn-warning">Adicionar ao carrinho</button>
                                    <button class="btn btn-info border buy">Comprar agora</button>
                                    <button class="btn btn-light mt-2 mb-2 buyAllFormat border">Comprar todos os formatos</button>
                                </div>
                            </div>
                       </form>
                    </div>
                    <div class="sinopse border ">
                        <div class="enfase">
                            <strong>Sobre este livro</strong>
                        </div>
                        <p><%= book.synopsis %></p>
                    </div>
                </div>
            </div>
        <% } %>
        <% if(locals.emphasis) {%>
            <div class="container border">
                <div class="row">
                    <div>
                        <h2 class="text-center p-3">Recomendações</h2>
                    </div>
                    <div class="row m-0 p-3">
                        <% for(let book of emphasis) {%>
                            <div class="col-4 col-sm col-lg-2 border">
                                <a href="/showbook/<%= book.id_books %> ">
                                    <img class="w-100" src="/img-books/<%= book.front_cover %>" alt="img-<%= book.title %>">    
                                </a>
                            </div>
                        <% } %> 
                    </div>
                </div>
            </div>
        <% } %> 
      </div>
    </main>
    <%- include('partials/footer') %> 
    <script src="/js/product.js"></script>
</body>
</html>